* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 850px;
    background: -webkit-radial-gradient(center, ellipse cover, #8AC0FF 0%, #8AC0FF 23%, #060080 80%, #060080 100%);
    background-repeat: no-repeat;
} 

.login-section {
    display: flex;
}

.image-section {
    z-index: -1;
    opacity: 0.4;
}


.login-div {
    width: 40%;
    height: 850px;
    z-index: 1;
    background: #003366;
    opacity: 0.9;
    margin: auto;
    position: absolute;
    top: 0;
}

/* SIGN UP PAGE*/

.sign-up-page {
    display: none;
}

.sign-up-page.show {
    display: inherit;
}

.container {
    padding: 45px;
    width: 90%;
    box-sizing: border-box;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

h1 {
    text-align: center;
    color: #ffffff;
}

hr {
    border: 1px solid #4CA260;
    margin: 5px 0 25px 0;
    width: 110%;
}

label {
    color: #97ADDF;
}

.privacy-p {
    margin-bottom: 10%;
    color: #6977B5;
}

.buttons {
    margin-top: 5%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    position: relative;
    left: 13%;
}

button:hover {
    opacity: 5;
}

.signinpage, .signupbutton {
    width: 80%;
}

.signinpage {
    padding: 14px 20px;
    background-color: #747DBD;
}


/* LOG IN PAGE*/

.log-in-page {
    display: none;
}

.log-in-page.show {
    display: inherit;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.remember-imput {
    margin: 0 5px 15px 0;
}

span.psw {
    float: right;
    padding-top: 16px;
}

span.psw a {
    color: #90A5D9;
}

.signupbutton {
    padding: 14px 20px;
    background-color: #519F6A;
}



















